<div class="global">

  <form [formGroup]="messageDetails">
    <div class="inputs_container">
      <div class="message-area">
        <p-floatLabel>
    <textarea
      (blur)="onMessageBlur($event)"
      (input)="onMessageInput($event)"
      [class.ng-invalid]="isMessageDirty()"
      [class.ng-dirty]="isMessageDirty()"
      id="float-input"
      rows="7" cols="35"
      formControlName="message"
      [autoResize]="true"
      placeholder="Saisissez votre message"
      pInputTextarea>
    </textarea>
          <label for="float-input">Votre message</label>
        </p-floatLabel>
        @if(showEmptyTextErrorMessage()){
          <small id="message-help">
            {{emptyTextErrorMessage()}}
          </small>
        }
      </div>

      <div class="name-input">
        <p-floatLabel>
        <input
          id="name"
          pInputText
          (blur)="onLastnameBlur($event)"
          (input)="onLastnameInput($event)"
          aria-describedby="name-help"
          formControlName="name"
          data-cy="input-user"
          placeholder="Entrer votre nom/prénom"
          [class.ng-invalid]="isNameDirty()"
          [class.ng-dirty]="isNameDirty()"
        />
          <label for="name">Votre votre nom/prénom</label>
        </p-floatLabel>
        @if(showEmptyLastnameErrorMessage()){
          <small id="lastname-help">
            {{emptyLastnameErrorMessage()}}
          </small>
        }
      </div>

    </div>
    <div class="navigation">
    <p-button label="Envoyer mon message" (onClick)="navigateToGoldBook()" [style]="boxStyle()" />
    <p-button severity="secondary" label="Retour a l'accueuil" (click)="closeConfirmationDialog()" [style]="boxStyle()"  />
    </div>
  </form>


    <p-dialog [closable]="false" header="{{loading ? '' : 'Votre message:'}}" [modal]="true" [(visible)]="visible" [style]="boxStyleDialog()">
    <div class="content">
      @if (loading){
        <p-progressSpinner ariaLabel="loading" />
        <p> Envoi en cours. Veuillez patienter</p>

      } @else {
        <span class="confirmation">
{{messageDetails.value.message}}
  </span>
        <div class="buttons">
          <p-button label="modifier" severity="secondary" (click)="closeDialog()"    [style]="{ width: '170px' }" />
          <p-button label="Confirmer l'envoi" (click)="saveMessage()"  />
        </div>
      }
    </div>
    </p-dialog>


  <p-dialog [closable]="false" [modal]="true" [(visible)]="showConfirmationDialog" [style]="boxStyleDialog()">
  <div class="message-saved">
    <span class="confirmation">
Merci <strong>{{messageDetails.value.name}}</strong>  pour votre message ! Il a bien été enregistré et sera inscrit dans le livre d’or.
  </span>

    <div class="buttons">
      <p-button label="Retour a l'accueuil" (click)="closeConfirmationDialog()"  />
    </div>
  </div>
  </p-dialog>

  <p-dialog [closable]="false" [modal]="true" [(visible)]="showErrorDialog" [style]="boxStyleDialog()">
     <div class="content">
      <span class="material-symbols-outlined" [style]="{ color: 'red' }">
close
</span>
    <span class="error-dialog">
Une erreur s’est malheureusement produite lors de l’envoi de votre message. Veuillez réessayer.
    Si le problème persiste, contactez-nous.
  </span>

    <div class="buttons">
      <p-button label="Réessayer"  (click)="closeErrorDialog()"  />
    </div>
     </div>
  </p-dialog>


</div>
