<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Soirée du mariage</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap">
</head>
<body>

<div class="debutImg">
  <img class="image1" src="assets/images/img1.png" alt="image1" >
</div>
<ng-container>
  <p-divider align="center" type="solid">
    <b>Dalia & Mickayel</b>
  </p-divider>

  <div class="infos">
      <app-countdown/>
    </div>


  <p-divider align="center" type="solid">
  </p-divider>
  <div class="titre">
    <p class="nouveauTitre">Joignez-vous à nous !</p>
  </div>
  <br>
  <div class="contenu">
    <p class="introduction">
      Le grand jour approche à grands pas, et certains moments de la vie ne peuvent être pleinement
      célébrés qu'en présence des êtres qui nous sont chers. C'est avec une immense joie et une
      profonde émotion que nous vous invitons à partager avec nous notre cérémonie de <strong>mariage civil</strong>,
      qui se tiendra le <strong>samedi 31 mai 2025 à 15h</strong>, dans la ville de <strong>Douala au Cameroun</strong>. Votre présence sera pour nous un
      immense honneur et contribuera à faire de cette journée un souvenir inoubliable. Ce moment
      unique, empreint d'amour et de bonheur, marquera une étape cruciale dans nos vies, et nous
      serions ravis de le vivre entourés de ceux qui comptent le plus pour nous. Nous espérons de tout
      cœur pouvoir vous compter parmi nous pour célébrer cet événement exceptionnel, riche en émotions,
      en joie et en partage.
    </p>
  </div>
  <p-divider align="center" type="solid">
  </p-divider>
  <div class="notre-histoire">
  <div class="titre">
    <p class="nouveauTitre">Notre histoire</p>
    <div class="space"></div>
    <p class="introduction">Après avoir échangé par téléphone, nous nous sommes
      rencontrés pour la première fois en février 2021, dans la ville de Mickayel (à Würzburg, en Bavière),
      à l’occasion de l’anniversaire d’une amie de Dalia qui devait s’y tenir. Un peu plus d’un mois plus
      tard, nous nous sommes revus, cette fois-ci à l’occasion de l’anniversaire de Dalia, que Mickayel avait
      décidé d’organiser. Nous ne saurions dire précisément quand notre relation a officiellement commencé,
      car elle s’est construite naturellement, au fil de nos échanges et de nos rencontres. Dalia n’a pas
      manqué de faire savoir à Mickayel qu’elle ne souhaitait pas d’une relation sans lendemain, ce à quoi il a
      répondu qu’il était sérieux dans sa démarche et qu’il le lui prouverait. Fidèle à sa parole, il a concrétisé
      cet engagement, et c’est ainsi que le toquer-porte a eu lieu en novembre 2023, marquant le début des
      démarches de notre union. La suite ? Nous sommes en train de l’écrire, et elle appartiendra bientôt à l’histoire. </p>
  </div>
  </div>
  <p-divider align="center" type="solid">
  </p-divider>
  <div class="gold-book">
      <p class="nouveauTitre">Livre d'or</p>
      <img class="image-gold-book" src="assets/images/gold-book.webp" alt="image-gold-book" >
    <div class="gold-book-message">
      <p class="word">Laissez-nous un message !</p>
      <p class="gold-book-text">
        Nous vous invitons à partager vos pensées, vœux ou anecdotes, qui seront inscrits dans notre livre d’or.
        Chaque message sera un souvenir que nous garderons précieusement.
        N’hésitez pas à écrire un proverbe, une blague ou même un conseil pour la vie à deux.
        Votre contribution compte énormément pour nous !</p>
      <p-button label="laisser un mot" (onClick)="navigateToGolMessage()" [style]="boxStyle()" />
    </div>
  </div>
  <p-divider align="center" type="solid">
  </p-divider>
  <div class="card">
    <p-carousel
      [value]="listImages"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [autoplayInterval]=3000
      [responsiveOptions]="responsiveOptions">
      <ng-template let-image pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3">
          <div class="mb-3">
            <div class="relative mx-auto">
              <img
                pTooltip="Cliquer sur l'image pour zoomer"
                tooltipPosition="top"
                (click)="op.toggle($event)"
                src="{{ image }}"
                [alt]="image"
                class="w-full border-round" />
              <p-overlayPanel #op>
                <ng-template pTemplate="content">
                  <img  [src]="image" alt="Profile" width="500" class="shadow-4" />
                </ng-template>
              </p-overlayPanel>
            </div>
          </div>

        </div>
      </ng-template>
    </p-carousel>
  </div>

</ng-container>


</body>
</html>
