<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Soirée du mariage</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap">
</head>
<body>

<div class="debutImg">
  <img class="image1" src="assets/images/img1.png" alt="image1" >
</div>
<ng-container>
  <p-divider align="center" type="solid">
    <b>Dalia & Mickayel</b>
  </p-divider>

  <div class="infos">
      <app-countdown/>
    </div>


  <p-divider align="center" type="solid">
  </p-divider>
  <div class="titre">
    <p class="nouveauTitre">Joignez-vous à nous !</p>
  </div>
  <br>
  <div class="contenu">
    <p class="introduction">
      Le grand jour approche à grands pas, et certains moments de la vie ne peuvent être pleinement
      célébrés qu'en présence des êtres qui nous sont chers. C'est avec une immense joie et une
      profonde émotion que nous vous invitons à partager avec nous notre cérémonie de <strong>mariage civil</strong>,
      qui se tiendra le <strong>samedi 31 mai 2025 à 15h</strong>, dans la ville de <strong>Douala au Cameroun</strong>. Votre présence sera pour nous un
      immense honneur et contribuera à faire de cette journée un souvenir inoubliable. Ce moment
      unique, empreint d'amour et de bonheur, marquera une étape cruciale dans nos vies, et nous
      serions ravis de le vivre entourés de ceux qui comptent le plus pour nous. Nous espérons de tout
      cœur pouvoir vous compter parmi nous pour célébrer cet événement exceptionnel, riche en émotions,
      en joie et en partage.
    </p>
  </div>
  <p-divider align="center" type="solid">
  </p-divider>
  <div class="notre-histoire">
  <div class="titre">
    <p class="nouveauTitre">Notre histoire</p>
    <div class="space"></div>
    <p class="introduction">Notre première rencontre eut lieu à l’occasion d’un anniversaire en 2021,
      en Bavière. Un simple échange de regards, Quelques mots échappés pendant son séjour… Rien de précipité, mais déjà,
      une connexion naissait en silence. Plus tard, Mickayel décida d'organiser une petite fête pour célébrer l’anniversaire
      de Dalia. Par cet événement, il manifesta une attention sincère qui ne laissa pas Dalia indifférente. Ce n’était plus
      un simple hasard, mais une évidence qui s’installait peu à peu. Les discussions s’allongèrent, les rires devinrent plus
      complices, et, sans qu’ils ne s’en rendent compte, quelque chose de fort commença à grandir entre eux. </p>
    <p class="introduction">Jour après jour,
      nous apprîmes à nous découvrir, à partager nos rêves, nos joies et nos ambitions. Notre complicité devint un refuge,
      une certitude silencieuse qui n’avait pas besoin de grands discours pour exister. La suite ? Elle s’écrit encore,
      chaque jour, dans la douceur et la promesse d’un avenir partagé. </p>
  </div>
  </div>
  <p-divider align="center" type="solid">
  </p-divider>
  <div class="gold-book">
      <p class="nouveauTitre">Livre d'or</p>
      <img class="image-gold-book" src="assets/images/gold-book.webp" alt="image-gold-book" >
    <div class="gold-book-message">
      <p class="word">Laissez-nous un message !</p>
      <p class="gold-book-text">
        Nous vous invitons à partager vos pensées, vœux ou anecdotes, qui seront inscrits dans notre livre d’or.
        Chaque message sera un souvenir que nous garderons précieusement.
        N’hésitez pas à écrire un proverbe, une blague ou même un conseil pour la vie à deux.
        Votre contribution compte énormément pour nous !</p>
      <p-button label="laisser un mot" (onClick)="navigateToGolMessage()" [style]="boxStyle()" />
    </div>
  </div>
  <p-divider align="center" type="solid">
  </p-divider>
  <div class="card">
    <p-carousel
      [value]="listImages"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      [autoplayInterval]=3000
      [responsiveOptions]="responsiveOptions">
      <ng-template let-image pTemplate="item">
        <div class="border-1 surface-border border-round m-2 p-3">
          <div class="mb-3">
            <div class="relative mx-auto">
              <img
                pTooltip="Cliquer sur l'image pour zoomer"
                tooltipPosition="top"
                (click)="op.toggle($event)"
                src="{{ image }}"
                [alt]="image"
                class="w-full border-round" />
              <p-overlayPanel #op>
                <ng-template pTemplate="content">
                  <img  [src]="image" alt="Profile" width="500" class="shadow-4" />
                </ng-template>
              </p-overlayPanel>
            </div>
          </div>

        </div>
      </ng-template>
    </p-carousel>
  </div>

</ng-container>


</body>
</html>
