
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.word{
  font-weight: bold;
  margin-bottom: 0;
}

.gold-book-text{
  margin-top: 16px;
  line-height: 2.5;
  word-spacing: 0.5em;
}

.introduction{
  font-size: 18px;
  text-align: justify;
  width: 95%;
  line-height: 2.5;
  word-spacing: 0.5em;
  font-family: "Verdana", "cursive" , sans-serif;
color: black;
}

.space{
  margin-bottom: 32px;
}
.gold-book-message{
    font-size: 18px;
    text-align: justify;
    line-height: 2.5;
    word-spacing: 0.5em;
    font-family: "Verdana", "cursive" , sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.introduction{
  margin-bottom: 32px;
  margin-top: 32px;
}




b{
  background-color: white !important;
}

.image1{
  width: 525px;
  margin: 0 auto;
}


b{
  background-color: rgb(239, 243, 248);
  font-size: 65px;
  color: darkgoldenrod;
  font-family:  "Verdana", "cursive" , sans-serif;
}


.w-full{
  margin-top: 40px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-gold-book{
  width: 500px;
  margin: 32px auto 0;
}
.titre{
  margin-top: 30px;
  width: 100%;
  color: deeppink;

}
.infos{
  padding-left: 22%;
  padding-right: 22%;
  margin-top: 25px
}
.notre-histoire{
  margin-top: 32px;
  padding-left: 22%;
  padding-right: 22%;
}
.contenu, .gold-book {
  width: 100%;
  padding-left: 22%;
  padding-right: 22%;
  margin-bottom: 40px;
}
.card{
  background-color: rgb(239, 243, 248);
  margin: 40px 24% 40px 22%;
}
.nouveauTitre{
  font-weight: bold;
  margin:  0;
  color: darkgoldenrod;
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family:  "Verdana", sans-serif;
}
.all{
  display: flex;
  margin-bottom: 30px;
}
.second{
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.first{
  word-spacing: 0.3em;
}





/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .introduction, .gold-book-text{
    font-size: 16px;
  }

  .image1{
    width: 425px;
  }
  .image2{
    margin-top: 50px;
  }
  b{
    font-size: 52px;
  }



  .infos{
    padding-left: 14%;
    padding-right: 12.5%;
  }

  .card{
    margin-left: 14%;
    margin-right: 12%;
    background-color: rgb(239, 243, 248);
  }
  .contenu{
    padding-left: 14%;
    padding-right: 10%;
  }

  .nouveauTitre{
    margin-left: 14%;
    margin-right: 14%;
    font-size: 40px;
  }

  .gold-book{
    padding-left: 14%;
    padding-right: 14%;

  }
  .notre-histoire{
    padding-left: 14%;
    padding-right: 10%;
  }
}

/* Handy */
@media only screen and (max-device-width: 767px) {

  .introduction, .gold-book-text{
    font-size: 16px;
      margin-bottom: 16px !important;
      margin-top: 16px !important;
    line-height: 2.5;
    word-spacing: 0.3em;
  }

  .image1{
    width: 300px;
  }

  b{
    font-size: 27px;
  }
  .card{
    margin: 40px 8% 40px;
  }


  .titre{
    margin-top: 16px;
  }
  .infos{
    padding-left: 8%;
    padding-right: 4%;
  }
  .contenu{
    padding-left: 8%;
    padding-right: 8%;
  }

  .nouveauTitre{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 21px;
  }

  .gold-book{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
    padding-left: 0
  }

  .notre-histoire{
    padding: 0;
    margin-left: 8%;
    margin-right: 8%;
  }
  .word{
    margin-bottom: 0;
    font-size: 16px;
    word-spacing: 0.3rem;
  }
}
