/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";



textarea {
  width: 435px;
}
textarea:hover {
  background-color: #ebf1f2;
}


textarea::placeholder {
  color: rgb(159, 161, 190);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  textarea {
    width: 60vw;
  }
}

@media only screen and (max-device-width: 767px) {
  textarea {
    width: 60vw;
  }
}
.p-button.p-button-secondary{
  color: #475569;
  background-color: #ffffff;
}
.p-button.p-button-secondary:hover {
  background-color: #ffffff;
}
